$primary_color: #1e73be;$secondary_color: #dd9933;$link_color: #dd9933;$link_color_hover: #1e73be;$link_color_active: #8224e3;
                $body_default_font: Lato;
            
                $heading_default_font: Nunito;
            
                $rounded_corner: 4px;
            